<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://notifierfunction20220330214750.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/62839f88-625c-482e-97f3-50025b3dd2c9/resourcegroups/ProductResources/providers/Microsoft.Web/sites/NotifierFunction20220330214750</ResourceId>
    <UserName>$NotifierFunction20220330214750</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://notifierfunction20220330214750.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>